{% load static %}
{% load brunch %}
{% load revision %}
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{% block root-title %}{% block title %}{% endblock %} // miRiam{% endblock %}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
  <link rel='apple-touch-icon' sizes='180x180'
        href='{% static "img/favicon/apple-touch-icon.png" %}'>
  <link rel='icon' type='image/png'
        href='{% static "img/favicon/favicon-32x32.png" %}' sizes='32x32'>
  <link rel='icon' type='image/png'
        href='{% static "img/favicon/favicon-16x16.png" %}' sizes='16x16'>
  <link rel='manifest'
        href='{% static "img/favicon/manifest.json" %}'>
  <link rel='mask-icon'
        href='{% static "img/favicon/safari-pinned-tab.svg" %}' color='#5bbad5'>
  <link rel='shortcut icon'
        href='{% static "img/favicon/favicon.ico" %}'>
  <meta name='msapplication-config'
        content='{% static "img/favicon/browserconfig.xml" %}'>
  <meta name='theme-color' content='#ffffff'>

  <meta itemprop='csrf-token' content='{{ csrf_token }}'>

  <link rel='stylesheet' type='text/css' href='{% static "css/vendors.css" %}'>
  <link rel='stylesheet' type='text/css' href='{% static "css/miriam.css" %}'>
  {% block styles %}
  {% endblock %}
  {% if debug %}
  <script type='text/javascript'>
    window.brunch = {server: 'localhost'};
  </script>
  {% endif %}
</head>
<body class='{% block body-class %}{% endblock %}'>
  <header>
  {% block header-content %}
    <a href='#mainblock' class='skiptocontent' tabindex='1'>Skip to Content</a>
    <nav data-toggle-target class='pt-navbar pt-navbar-fixed'>
      <div class='np-container'>
        <div class='pt-navbar-group pt-align-left'>
          <a href='/' class='np-navbar-logo'>
            <img src='{% static "img/miriam-logo-1x.png" %}' alt='miriam homepage' title='Home'>
          </a>
        </div>
        <div class='pt-navbar-group pt-align-right'>
          <a role='button' href='{% url "browser_sankey" %}' class='pt-button pt-minimal'>
            Browser
          </a>
          <a role='button' href='{% url "browser_network" %}' class='pt-button pt-minimal'>
            Network
          </a>
          <a role='button' href='' class='pt-button pt-minimal'>
            Export
          </a>
        </div>
      </div>
    </nav>
    {% block hero-content %}
    {% endblock %}
  {% endblock %}
  </header>
  <main id='placetRoot' class='pt3'>
  {% block main-content %}
    <div>
    {% block content %}
    {% endblock %}
    </div>
  {% endblock %}
  </main>
  <footer class="pt4 ph3 ph5-m ph6-l mid-gray">
    <div class='np-container'>
      <p class="tc">
        <span class='dib'>&copy; 2017 <b class="ttu">miriam</b></span>
        <span class='dib mh2'>|</span>
        <a class="link" href='{% url "contact_us" %}'> Contact </a>
        <span class='dib mh2'>|</span>
        <code class='dib'>{% revision %}</code>
      </p>
    </div>
  </footer>

  {% block main-javascript %}
    <script type='text/javascript' src='{% static "js/vendors.js" %}'></script>
    {{ 'miriam' | js_bundle }}
    {% block javascript %}
    {% endblock %}
  {% endblock %}
</body>
</html>
