{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}
{% block body-class %}contact{% endblock %}

{% block content %}
<section class='np-container'>
  <h2>You may reach the authors at</h2>

  <ul>
    <li>
      <p>Email: <a href='mailto:prashant@noop.pw'>prashant@noop.pw</a>.</p>
    </li>
    <li>
      <p>Mail:</p>
      <address>
        <span>7 (R) Boulevard Jourdan</span><br>
        <span>Fondation Maison de L'Inde</span><br>
        <span>Paris, France 75014</span><br>
      </address>
    </li>
  </ul>
</section>
{% endblock %}
