{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<article class='privacy'>
  <h2>Convoke Privacy Policy</h2>

  <blockquote>
    <h3>tl;dr</h3>
    <ul>
      <li>We will <strong>never</strong> sell your email address, reveal sensitive personal
      information, or spam your account.</li>
      <li>We follow industry standards to ensure your information is secure.</li>
      <li>We do not track, or gather analytics outside of <a href='//convoke.io' title='convoke.io'>convoke.io</a> or its subdomains.</li>
      <li>If you need to contact us, or have your account deleted, just send
      us an email at <a href='mailto:noobz@convoke.io'>noobz@convoke.io</a>.</li>
    </ul>
    <p>With lots of bytes, team #include.</p>
  </blockquote>

  <h4>Purpose</h4>
  <p>This Privacy Policy discloses the privacy practices for <a href='//convoke.io' title='convoke.io'>convoke.io</a> and its subdomains. This version was posted on September 20, 2016, and last updated on October 09, 2016.</p>

  <h4>Summary</h4>
  <p>We take security and privacy of your information very seriously and to
  ensure that we do it right, we follow industry standards. Our server is written
  using <code>django</code>, and your passwords are hashed before they're stored
  in the Database. Like any other web service, we utilise <code>Cookies</code>
  and/or <code>Local-storage</code> to persist your sessions as well as to
  gather analytics. These analytics help us identify issues with the website
  as well as assess its performance. At any point, however, we do not link
  these analytics to specific users. We respect do not track requests from
  your browser if it is enabled.
  </p>

  <h4>What information is gathered about you? What is that information used for?</h4>

  <p>We collect information from you when you access <a href='//convoke.io' title='convoke.io'>convoke.io</a> and subscribe to our services.</p>
  <ul>
    <li><strong>IP Address:</strong> We use your IP address to administer the website by identifying which parts of our site are most heavily used. We do not link IP addresses to anything personally identifiable unless you login to our services.</li>

    <li><strong>Device Information:</strong> We may collect non-personal information about the computer, mobile device or other device you use to access <a href='//convoke.io' title='convoke.io'>convoke.io</a>, such as IP address, geolocation information, unique device identifiers, browser type, browser language or other information of this nature. At no time we disclose site usage by individual IP addresses.</li>

    <li><strong>Cookies:</strong> Cookies are small files that are stored on your computer. We use cookies to understand and save your preferences for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</li>

    <li><strong>Third-Party Cookies:</strong> Cookies may be set by an organization other than <a href='//convoke.io' title='convoke.io'>convoke.io</a>. You may disable cookies through your individual browser options. Please note, however, that doing so may limit the functionality of <a href='//convoke.io' title='convoke.io'>convoke.io</a> and all its sub-domains.</li>

    <li><strong>Log Data:</strong> Logging data is invaluable to find and fix errors, make improvements and ensure the system health. We go to extra lengths to make sure no sensitive information is ever sent out as a part of logging data.</li>
  </ul>
  <h4>Email Policy</h4>
  <p>We will not share or authorize any third party to use your email address for commercial purposes without your permission.</p>

  <h4>Information Protection</h4>
  <p>To prevent unauthorized access, maintain data accuracy and ensure the appropriate use of information we gather about you, we have taken commercially reasonable steps to protect the information. However, no method of transmission over the Internet, or method of electronic storage, is 100% secure.</p>

  <h4>Changes to this Policy</h4>

  <p>This Privacy Policy may be amended from time to time.</p>

  <blockquote>
    <h3>How to Contact Us</h3>
    <p>You can contact us on <a href='mailto:noobz@convoke.io'>noobz@convoke.io</a></p>
    <address>
      126, Cluster Innovation Centre,<br>
      University of Delhi<br>
      Delhi, 110009
    </address>
  </blockquote>
</article>
{% endblock %}
