{% extends 'browser/index.html' %}
{% load tissue_inlines %}

{% block title %}Ontology Impact{% endblock %}

{% block content %}
<div class='np-container cf np-presentation'>
  <h1>Ontology Impact</h1>
  <div class='fl w-20'>
    <div class='pt-card np-box--elevation-minimal pa0'>
      <p class='np-input-intro'>
        Visualise
      </p>
      <div class='np-radio-input '>
        <label class='pt-control pt-radio'>
          <input type='radio' name='sankey-args.kind' value='func' checked>
          <span class='pt-control-indicator'></span>
          Cellular Processes
        </label>
        <label class='pt-control pt-radio'>
          <input type='radio' name='sankey-args.kind' value='mol'>
          <span class='pt-control-indicator'></span>
          Molecular Activities
        </label>
      </div>
    </div>
    <div class='pt-card np-box--elevation-minimal pa0'>
      <p class='np-input-intro'>
        Tissue
      </p>
      <div class='np-radio-input'>
      {% for exp in experiments %}
        <h6>{{ exp.name }}</h6>
        {% for tissue in exp.tissues %}
          <label class='pt-control pt-radio'>
            <input type='radio' name='sankey-args.tissue' value='{{ exp.id }}-{{ tissue }}' {{ forloop.first | yesno:"checked," }}>
            <span class='pt-control-indicator'></span>
            {{ tissue | humanise }}
          </label>
        {% endfor %}
      {% endfor %}
      </div>
    </div>
  </div>
  <div class='np-chart fl w-80'>
    <div id='sankeyNode' class='np-chart--root'></div>
  </div>
</div>
{% endblock %}
